<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.scangoals">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".QRScanner"
            android:label="QRScanner"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Journal"
            android:label="@string/title_activity_journal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".QRChoices"
            android:label="@string/title_activity_qrchoices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoPage"
            android:label="@string/title_activity_video_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity"
            android:label="LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InputActivity"
            android:label="Input"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Treadmill"
            android:label="@string/title_activity_treadmill"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".BenchPress"
            android:label="@string/title_activity_bench_press"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Squat"
            android:label="@string/title_activity_squat"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CheckForUserPermission"
            android:label="@string/title_activity_check_for_user_permission"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>